doctype html
html 
	head
		title Correo | Fizzmod
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
	body 
		nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
			a(class="navbar-brand" href="/") Productos
			button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
				span(class="navbar-toggler-icon")
			div(class="collapse navbar-collapse" id="navbarNav")
				ul(class="navbar-nav")
					li(class="nav-item")
						a(class="nav-link" href="/listar") Listar 
							span(class="sr-only") 
					li(class="nav-item active")
						a(class="nav-link" href="/asdas") Add email
							span(class="sr-only") 
		div(class="container")
			div(class="row justify-content-md-center mt-5")
				form(method="POST" action="/set-correo")
					h4(class="text-center mb-3") Agregar correo
					div(class="form-group")
						label(for="name") Email
						input(type="email" class="form-control" id="email" name="email" placeholder="Email...")
					div
						button(type="submit" class="btn btn-primary mb-2") Submit